/*=============== Variaveis CSS ===============*/
:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --hue: 230;
    --first-color: #025951;
    --first-color-light: #09f05a;
    --first-color-alt: #038C3E;
    --title-color: hsl(var(--hue), 30%, 95%);
    --text-color: hsl(var(--hue), 20%, 80%);
    --text-color-light: hsl(var(--hue), 20%, 70%);
    --container-color: #025951;
     /*========== Fontes ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --biggest-font-size: 3rem;
  --big-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsividade ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4rem;
    --big-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.125rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button,
textarea {
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

p {
  line-height: 130%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*===============  CSS CLASSES REUTILIZADAS ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
  }
  .nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
  
  
    .nav__logo{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
      font-size: 3rem;
      color: var(--title-color);
      font-weight: var(--font-bold);
    }

    .nav__img{
      background-color: white;
      border-radius: 50%;
    }

    .nav__list{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      align-items: flex-end;
      column-gap: 5rem;
      font-weight: bold;
      color: var(--title-color);
    }

    .nav__link:hover{
      color: #09f05a;
    }
    

    .frame{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 97.8vw;
      height: 88.3vh;
    }


    @media screen and (max-width: 1366px) {
      .frame{
        margin-left: -1%;
        height: 82vh;
      }
    }