/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  line-height: 1;
}

/* Remove hyperlink default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}