body{
    background-color:#203C73 ;
}

/* menu-home.css */

.apps__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Alterado para três colunas */
    gap: 15px;
    margin-top: 20px;
    grid-auto-rows: 120px;
}

.apps__container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 15px;
    border: solid #9DBF21;
    padding: 15px;
}

.apps__container img{
    margin-bottom: 10px;
}

.apps__container p {
    font-size: 1rem;
    margin: 0;
}

.apps__container a:hover {
    color: #007BFF;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

footer a:hover{
    color: #9DBF21;
}